@model PaginatedList<ERT.Entities.BeerModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="selected hwidth">Brew Dog Beers</h1>
<div>
    <br />

    @using (Html.BeginForm("GetAllBeers", "Beer"))
    {
        <div>
            @Html.Label("Beer Name")
            @Html.TextBox("searchBeersByName")
            <input type="submit" id="SearchBeersByName" value="Search By Name" class="clr" />
        </div>
        <br />
        <table class="table">
            <thead>
                <tr class="clr">
                    <th>Check</th>                    
                    <th>Beer Name</th>
                    <th>TagLine</th>
                    <th>First_Brewed</th>
                    <th>Abv</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.CheckBoxFor(modelItem => item.checkboxAnswer)</td>                       
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.TagLine)</td>
                        <td>@Html.DisplayFor(modelItem => item.First_Brewed)</td>
                        <td>@Html.DisplayFor(modelItem => item.Abv)</td>
                        <td>@Html.ActionLink("Details", "GetBeerDetailsById", new { id = item.Id })</td>
                    </tr>

                }
            </tbody>
        </table>
        <br />
        <div>
            @{
                var prevDisabled = !Model.PreviousPage ? "disabled" : "";
                var NextvDisabled = !Model.NextPage ? "disabled" : "";

            }
            <a asp-action="GetAllBeers"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               class="btn btn-default @prevDisabled">
                Previous
            </a>
            <a asp-action="GetAllBeers"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               class="btn btn-default @NextvDisabled">
                Next
            </a>
        </div>
        <br />
    }
</div>
<br />
@section Scripts
        {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }