@model PaginatedList<ERT.Entities.BeerModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="selected hwidth">Brew Dog Beers</h1>
<div>
    <br />

    @using (Html.BeginForm("GetAllBeers", "Beer"))
    {
        <div>
            @Html.Label("Beer Name")
            @Html.TextBox("searchBeersByName")
            <input type="submit" id="SearchBeersByName" value="Search By Name" class="clr" />
        </div>

        <br />
        <table class="table">
            <thead>
                <tr class="clr">
                    <th>Check</th>
                    <th>Id</th>
                    <th>Beer Name</th>
                    <th>Tag Line</th>
                    <th>First Brewed</th>
                    <th>ABV</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="center">@Html.CheckBoxFor(modelItem => item.checkboxAnswer)</td>
                        <td class="center">@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.ActionLink(item.Name, "GetBeerDetailsById", new { id = item.Id })</td>
                        <td>@Html.DisplayFor(modelItem => item.TagLine)</td>
                        <td class="center">@Html.DisplayFor(modelItem => item.First_Brewed)</td>
                        <td class="center">@Html.DisplayFor(modelItem => item.Abv)</td>
                    </tr>

                }
            </tbody>
        </table>
        <br />

        <div>
            @{
                var firstPage = 1;
                var previousPage = Model.CurrentPage > 1 ? Model.CurrentPage - 1 : Model.CurrentPage;
                var NextPage = Model.CurrentPage + 1;
                var lastPage = Model.LastPageIndex;

                var firstDisabled = !Model.ShowFirst ? "disabled" : "";
                var prevDisabled = !Model.ShowPrevious ? "disabled" : "";
                var NextvDisabled = !Model.ShowNext ? "disabled" : "";
                var lastvDisabled = !Model.ShowLast ? "disabled" : "";
            }
            
            <input type="submit" value="<<" action="GetAllBeers" asp-route-pageNumber="@firstPage" class="fas fas-angle-left fa-2x fl @firstDisabled">
            <input type="submit" value="<" action="GetAllBeers" asp-route-pageNumber="@previousPage" class="fas fa-step-backward fa-2x fl @prevDisabled">
            <input type="submit" value=">" action="GetAllBeers" asp-route-pageNumber="@NextPage" class="fas fa-step-forward fa-2x fl @NextvDisabled">
            <input type="submit" value=">>" action="GetAllBeers" asp-route-pageNumber="@lastPage" class="fas fa-fast-forward fa-2x fl @NextvDisabled">
        </div>
        <br />
    }
</div>
<br />
@section Scripts
        {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}