@model ERT.Entities.BeerModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="selected hwidth">Beer Details</h1>
@using (Html.BeginForm())
{
    <div>
        <table id="tblBeerInfo" class="table" border="1">
            <thead>
                <tr class="clr">
                    <th>Beer Name</th>
                    <th>Tag Line</th>
                    <th>First Brewed</th>
                    <th>ABV</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                <tr class="center">
                    <td>
                        @Html.DisplayFor(modelItem => Model.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.TagLine)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.First_Brewed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Abv)
                    </td>
                    <td>
                        <img src="@Url.Content(Model.image_url)" 
                             class="rounded-circle" width="150"
                             height="350" asp-append-version="true" />                        
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
}
<br />
<a href="##" onClick="history.go(-1); return false;"> Return to Main Data</a>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}